{{ form_start(employeeForm) }}

<div class="row row-space">
    <div class="col-2">
        <div class="input-group">
            {{ form_row(employeeForm.firstname) }}
        </div>
    </div>
    <div class="col-2">
        <div class="input-group">
            {{ form_row(employeeForm.lastname) }}

        </div>
    </div>
</div>
<div class="row row-space">
    <div class="col-2">
        <div class="input-group">
            {{ form_row(employeeForm.phoneNumber) }}
            {% for error in form_errors(employeeForm.phoneNumber) %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-2">
        <div class="input-group">
            {{ form_row(employeeForm.picture) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.position) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.firstEmail) }}
        {% for error in form_errors(employeeForm.firstEmail) %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.secondEmail) }}
        {% for error in form_errors(employeeForm.secondEmail) %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.thirdEmail) }}
        {% for error in form_errors(employeeForm.thirdEmail) %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.linkedinUrl) }}
        {% for error in form_errors(employeeForm.linkedinUrl) %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(employeeForm.submit, { 'attr' : {'class': 'btn-light'} } ) }}
    </div>
</div>
{{ form_end(employeeForm) }}